:root {
    --sans-font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --serif-font: palatino, "Palatino Linotype", "Palatino LT STD", "URW Palladio L", "TeX Gyre Pagella", serif;
}
body {
    font-family: var(--serif-font);
    box-sizing: border-box;
    line-height: 1.414;
}
@media screen {
  body { padding-top: 2rem; max-width: 40em; margin: auto; font-size: 120%; }
  hr { display: none; }
}
@media print {
  @page { size: letter; margin: 4rem 0rem 4.333rem 0rem; }
  body { margin-left: 4.5rem; margin-right: 4.5rem; font-size: 10.5pt; }
  h1, h2 { page-break-before: always; margin-top: 0; }
  hr+* { page-break-before: always; margin-top: 0; }
  hr { display: none; }
}
h1, h2, h3, h4, h5, h6 { color: #4f81bd; }
h2 { border-bottom: solid #4f81bd 1px; }
h3, h4 { margin: 0; padding: 0; }
pre, code { background-color: #eee; font-family: "DejaVu Sans Mono", monospace; }
code { font-size: 75%; }
pre { padding: 0.33rem; line-height: 1; overflow-x: auto; }

p, ul, table {
    margin: 1em 0;
}

body {
  counter-set: section 0 subsection 0 appendix 0;
}
h2:before, h3:before {
    font-size: 75%;
}
h2:before, h3:before {
    text-align: right;
    display: inline-block;
    position: relative;
    right: 2.33em;
    text-align: right;
    width: 2em;
    margin-right: -2em;
    height: 0;
}

@media screen and (max-width: 53.33em) {
    body {
        margin-left: 2.33em;
        margin-right: 0.5em;
    }
}
h2:before {
    counter-increment: section;
    content: counter(section) ". ";
}
h2 {
    counter-reset: subsection 0;
}
h3:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}

h2[id^="appendix-"]:before {
    counter-increment: appendix;
    content: counter(appendix,upper-latin) ". ";
}
h2[id^="appendix-"] ~ h3:before {
    counter-increment: subsection;
    content: counter(appendix,upper-latin) "." counter(subsection) ". ";
}

h2#notes:before {
    display: none;
}

.footnotes > ol { padding: 0; font-size: 90%; }

table {
    border-collapse: collapse;
    width: 100%;
}
thead tr {
    border-bottom: solid black 1px;
}
th {
    font-weight: normal;
    text-align: left;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
}
td {
    padding-right: 0.5rem;
}

blockquote {
    padding: 0.5rem 1rem;
    border-left: solid #4f81bd 2px;
    margin-right: 0;
}
blockquote :first-child {
    margin-top: 0;
}
blockquote :last-child {
    margin-bottom: 0;
}

.rationale {
    background-color: #e9f0f9;
}

blockquote.pseudocode {
    border-left: none;
    padding: 0;
}
.pseudocode strong, strong.pseudocode {
    font-family: var(--sans-font);
    font-weight: inherit;
    font-size: 90%;
}
.pseudocode pre, .pseudocode code { background-color: inherit; }
.pseudocode p {
    white-space: pre;
}
.pseudocode em > code, .pseudocode strong > code {
    vertical-align: sub;
    font-size: 75%;
    font-family: inherit;
}
.pseudocode code {
    font-size: 80%;
}

/*---------------------------------------------------------------------------*/
/* Rouge syntax classes */

pre.highlight span.dl { color: #888; }
pre.highlight span.k { color: #4f81bd; }
pre.highlight span.kc { color: #4f81bd; }
pre.highlight span.kd { color: #4f81bd; }
pre.highlight span.nb { color: #4f81bd; }
pre.highlight span.nl { color: #4f81bd; }
pre.highlight span.nx { color: #4f81bd; }
pre.highlight span.o { color: #4f81bd; }
pre.highlight span.p { color: #888; }
pre.highlight span.s2 { color: #ff8844; }
